{% extends 'main/layout.html' %}


{% block body %}

<div class="container"> 
    <h1 class="h3 mb-2 text-primary text-center font-weight-bolder">Update {{ client }}</h1><br>
<form action="" method="POST" class="user" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group mt-3">
        <label>Meter Number: </label> <br>
        {{ form.meter_number }}
    </div>
    <div class="form-group mt-3">
        <label>First Name: </label> <br>
        {{ form.first_name }}
    </div>
    <div class="form-group mt-3">
        <label>Middle Name: </label> <br>
        {{ form.middle_name }}
    </div>
    <div class="form-group mt-3">
        <label>Last Name: </label> <br>
        {{ form.last_name }}
    </div>
    <div class="form-group mt-3">
        <label>Contact Number: </label> <br>
        {{ form.contact_number }}
    </div>
    <div class="form-group mt-3">
        <label>Address: </label> <br>
        {{ form.address }}
    </div>
    <div class="form-group mt-3">
        <label>Connection Status: </label> <br>
        {{ form.status }}
    </div>


   <div class="d-flex justify-content-center">
   <input type="submit" value="Save" class="btn btn-primary btn-user  w-25">
   <a href="{{request.META.HTTP_REFERER}}" class="ml-3 btn btn-secondary btn-user  w-25">Cancel</a>
   </div>
</form>
</div>

{% endblock %}